
/*p {
  background-color: green;
}

p.slow {
  background-color: yellow;
}

p.slow .stop {
  background-color: red;
}*/
body {
  font-family: cursive;
  background-image: url("img2.jpg");
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

.col-lg-12 {
  height: 225px;
  background-image: url("img5.png");
  background-size: cover;
  background-position: center;
}

.header {
  background-image: linear-gradient(to right, #242E63, #E06072);
  color: White;
}

.container {
  width: 100%;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  padding: 50px;
  background-color: #485C8E;
}

.footer {
  background-image: linear-gradient(to right, #E06072, #242E63);
  color: White;
  text-align: center;
}

.col-md-8 {
  background-color: gray;
  border-style: solid;
  border-width: 40px;
}

.col-md-8 {
  background-color: black;
}

.Image {
  text-align: center;
}

.row {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.col-sm-4 {
  font-weight:bold;
}
