
/*p {
  background-color: green;
}

p.slow {
  background-color: yellow;
}

p.slow .stop {
  background-color: red;
}*/
body {
  background-image: url("img2.jpg");
  font-family: 'Arima Madurai', cursive;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

h3 {
  padding-top: 15px;
  color: white;
  text-align: center;
  font-size: 30px;
}

h5
{
  text-align: center;
}
.pad {
  padding-top: 100px;
  text-align: left

}

.col-lg-12 {
  height: 225px;
  background-image: url("img5.png");
  background-size: cover;
  background-position: center;
  font-family: 'Coiny', cursive;
  text-align: center;
}

.col-sm-12{
  background-color: #E06072;
  margin: 10px;
}

.header {
  background-image: linear-gradient(to right, #242E63, #E06072);
  color: White;
  font-family: 'Coiny', cursive;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.container {
  width: 100%;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  padding: 50px;
  background-color: #485C8E;
}

.footer {
  background-image: linear-gradient(to right, #E06072, #242E63);
  color: White;
  text-align: center;
}

.col-md-8 {
  background-color: gray;
  border-style: solid;
  border-width: 40px;
  background-color: black;
}

img {
  height: 250px;
}
.Image {
  padding-top: 20px;
}

.row {
  color: white;
  text-align: center;
}

.col-sm-4 {
  font-weight:bold;
}

li {
  text-align: left;
}

.tropical {
  display: none;
}

.outdoors {
  display: none;
}

.roadtrip {
  display: none;
}
